# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
build.log
.flattened-pom.xml

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse
.settings/
.classpath
.project

# IDE - VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs & Data
*.log
database.db
data.json
waiting.json
